<h1>Add A Contact</h1>
<form method='post'>
  <p>
    First Name: <br/>
    <input type='text' name='firstName' required/>
  </p>
  <p>
    Last Name: <br />
    <input type='text' name='lastName' required/>
  </p>
  <p>
    Email: <br />
    <input type='text' name='email' />
  </p>
  <p>
    Phone: <br />
    <input type='text' name='phone' />
  </p>
  <p>
    Address <br />
    Street: <input type='text' name='street'/> <br />
    Apt: <input type='number' name='apt' /> <br />
    City: <input type='text' name='city'/> <br />
    State/Province: <input type='text' name='state' /> <br />
    Zip: <input type='number' name='zip' /> <br />
  </p>
  <input type='submit' value='Submit' />
</form>
<a href='/contacts'>Contacts</add>
